:root {
  --light-color: white;
  --secondary-color: #f97316;
  --tertiary-color: #515052; 
  --background-color: #e2e8f0;
  --standard-margin: 2rem;
  --standard-corner-radius: .6rem;
}

body {
  margin: 0px;
}

/* element */

ul {
  padding-left: var(--standard-margin);
}

ul > li {
  list-style: none;
}

div.search > input[type=text] {
  width: 70%;
  border-radius: 1rem;
  border: none;
  background-color: var(--background-color);
}

/* classes */

.left-offset {
  margin-left: var(--standard-margin);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.main-container .upper-bar {
  display: grid;
  padding: var(--standard-margin);
}

.upper-bar .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Side bar */

.side-bar {
  background-color: var(--secondary-color);
  color: var(--light-color);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

/* Central container */

.central-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 6fr 1fr 6fr;
  background-color: var(--background-color);
  overflow: scroll;
  padding: 1rem;
  gap: 1rem;
}

.central-container h2 {
  margin: 0px;
  align-self: end;
}

.central-container > .projects-title {
  grid-area: 1 / 1 / 2 / 2;
}

.central-container > .projects-container {
  grid-area: 2 / 1 / span 3 / 2;
  /* padding: 20px; */
}

.central-container > .announcements-title {
  grid-area: 1 / 2 / 2 / 3;
}

.central-container > .announcements-container {
  grid-area: 2 / 2 / 3 / 3;
}

.central-container > .trending-title {
  grid-area: 3 / 2 / 4 / 3;
}

.central-container > .trending-container {
  grid-area: 4 / 2 / 5 / 3;
}

.central-container > div.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  gap: 20px;
}

.projects-container .project {
  position: relative;
  background-color: var(--light-color);
  border-radius: var(--standard-corner-radius);
  padding: 1rem;
  border-left: .7rem solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
}

.project > div.icon-row {
  margin-top: auto;
  align-self: end;
}

a img {
  height: 2rem;
}