:root {
  --light-color: white;
  --secondary-color: #f97316;
  --tertiary-color: #515052;
  --background-color: #e2e8f0;
  --standard-margin: 2rem;
  --standard-corner-radius: .6rem;
}

body {
  margin: 0px;
}

/* element */

ul {
  padding-left: var(--standard-margin);
}

ul > li {
  list-style: none;
}

div.search > input[type=text] {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--background-color);
  padding-left: 1rem;
}

div.search > input[type=text]:hover {
  filter: brightness(95%);
}

img.profile-icon,
img.profile-icon-large {
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

img.profile-icon-large {
  width: 100px;
  height: 100px;
}

img.profile-icon {
  width: 50px;
  height: 50px;
}

a img {
  height: 2rem;
}

button {
  font-size: large;
  color: var(--light-color);
  background-color: var(--secondary-color);
  border-radius: 2rem;
  width: 7rem;
  height: 3rem;
  border: none;
}

button:hover {
  filter: brightness(95%);
}

/* classes */

.left-offset {
  margin-left: var(--standard-margin);
}

.margin-spacer {
  margin-bottom: 4rem;
}

.no-overflow {
  white-space: nowrap;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.main-container .upper-bar {
  display: grid;
  padding: 1rem 2rem;
  row-gap: 1rem;
  position: relative;
  z-index: 10;
}

.upper-bar .search {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav .greeting {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

/* Side bar */

.side-bar {
  background-color: var(--secondary-color);
  color: var(--light-color);
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.side-bar .logo > img {
  height: 4rem;
}

.side-bar .logo {
  display: flex;
  margin: 2rem 2rem;
  align-items: center;
  gap: 1rem;
}

.side-bar li {
  margin: 1rem 0;
}

.side-bar a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: larger;
}

.side-bar img {
  filter: invert(1);
}

.side-bar a {
  color: var(--light-color);
  text-decoration: none;
}

/* Central container */

.central-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 6fr 1fr 6fr;
  background-color: var(--background-color);
  overflow: scroll;
  padding: 2rem 2rem 5rem 2rem;
  gap: var(--standard-margin);
}

.central-container h2 {
  margin: 0px;
  align-self: end;
}

.central-container > .projects-title {
  grid-area: 1 / 1 / 2 / 2;
}

.central-container > .projects-container {
  grid-area: 2 / 1 / span 3 / 2;
}

.central-container > .announcements-title {
  grid-area: 1 / 2 / 2 / 3;
}

.central-container > .announcements-container {
  grid-area: 2 / 2 / 3 / 3;
}

.central-container > .trending-title {
  grid-area: 3 / 2 / 4 / 3;
}

.central-container > .trending-container {
  grid-area: 4 / 2 / 5 / 3;
}

.central-container > div.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  gap: var(--standard-margin)
}

/* Projects */

.projects-container .project {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: .7rem solid var(--tertiary-color);
}

.project > div.icon-row {
  margin-top: auto;
  align-self: end;
}

h1, h2, h3 {
  margin: 0px;
}

.project > h3,
.project > p,
.announcement > h3 {
  margin-bottom: 5px;
}

.project > p {
  margin-top: 0px;
}

.card-style,
.projects-container .project {
  border-radius: var(--standard-corner-radius);
  background-color: var(--light-color);
  padding: 2rem;
}

.light-shadow,
.projects-container .project,
.card-style {
  box-shadow: 5px 5px 5px lightgray;
}

.horizontal-dividers {
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: var(--tertiary-color);
}

.announcements-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(125px, 1fr));
  text-overflow: ellipsis;
}

.announcement {
  padding: 1rem 0px;
}

.announcement > h3 {
  margin-top: 0px;
}